:root {
    --color-primary:#64cae9;
    --color-secundary:#f8b8b9;
    --color-three: #d268d3fb;
    --color-grid: #000000;
    --color-grid2: #3c06ff;
    --button1: #f07ec1;
}
html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--color-grid);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login {
    background-color: var(--color-secundary);
    position: static;
    height:350px ;
    width: 300px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    border: .39em solid var(--color-three); 
}
.titulo{
    /* border: 2px solid var(--color-three); */
    position: static;
    width: 50%;
    height: 40px;
    padding-top:7px ;
    margin: 15px auto;
    border: 2px solid var(--color-three);
    /* border: 1em 1em 1em 1em solid var(--color-three); */
    box-shadow: 1em 1em .5em 0em var(--color-three);
    border-radius: 10px;
    transform: skewX(-25deg);
}
.titulo h2{
    border-radius: 10px;
    padding: 0;
    margin:  0;
    height: 100%;
    background-color: var(--color-secundary);
    color: var(--color-three);
    text-transform: uppercase;
    cursor: default;
}
.input {
    position: static;
    width: 100%;
    height: 40%;
    margin: 5px auto;
    padding: 30px 0;
}
.input #email,
.input #pass {
    padding: 0 15px;
    background: var(--color-primary);
    margin: 12px 0;
    border: 2px solid var(--color-three);
    color: var(--color-three);
    border-radius: 15px;
    width: 15em;
    height: 2.9em;
    text-align: center;
    outline: none;
    transition: 1s;
}
.input #email:hover, 
.input #pass:hover{
    background-color: var(--color-three);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 2em var(--color-primary);
    box-sizing: 0 0 2em var(--color-primary);
    transition: 0.2s;
}
.input #email:focus,
.input #pass:focus {
    padding: 0px 25px;
    transition: 1s;
    cursor: text;
    background: #fff;
    box-shadow: 0 0 2em var(--color-three);
}
.buttons {
    position: static;
    
    width: 100%;
    height: 20%;
    margin: 5px auto;
    display: block;
    align-items: center;
    justify-content: center;
}
.validar {
    float: right;
    display: block;
    width: 9.36em;
    padding: 5px 0;
}
.validar a, 
.validar button {
    background: none;
    display: flex;
    outline: none;
    color: var(--color-three);
    padding: 10px 3em;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--color-three);
    transition: 1s;
    margin-left: 18px; /*desgaracia para centrar el boton y el a*/
}
.validar a[id="atras"]{
    width: 13px;   
}
.validar a:hover{
    background: red;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: 1S;
}
.validar a:focus{
    background: none;
    border: 1px solid var(--color-three);
    color: var(--color-three);
    margin: 0 15px;
    padding: 5px 45px;
    transition: 0.01s;
}
.validar button[id="button"]{
    color: var(--button1);
    display: flex;
    background: var(--color-three);
    padding: auto 48px;
}
.validar button:hover{
    background: rgb(66, 122, 185);
    border: 2px solid var(--color-three);
    transition: 1s;
}
.validar button:focus{
    background: none;
    border: 1px solid var(--color-three);
    color: var(--color-three);
    margin: 0 15px;
    padding: 5px 45px;
    transition: 0.01s;
}
@medio